[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no
[ req_distinguished_name ]
countryName                 = DE
stateOrProvinceName         = RP
localityName               = Berlin
organizationName           = Goafabric
commonName                 = goafabric.org

[ req_ext ]
subjectAltName = DNS:goafabric.org


#https://geekflare.com/san-ssl-certificate/