[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName                 = DE
stateOrProvinceName         = RP
localityName               = Berlin
organizationName           = Goafabric
commonName                 = goafabric.org
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = localhost

#https://geekflare.com/san-ssl-certificate/